* {
  --font-family: "Rubik", sans-serif;
  --color-menu: #4a4a4a;
  --color-background: #3cdbc0;
  --color-text: #ffffff;
}

.container {
  width: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
}

.logo {
  width: 155px;
  padding: 10px;
}

.menu {
  display: flex;
  font-size: 16px;
  padding-bottom: 13px;
  width: 150px;
}

.item1 {
  padding-right: 20px;
}

a {
  color: var(--color-menu);
  font-family: var(--font-family);
}

a:link {
  text-decoration: none;
}

.main {
  display: flex;
  background-color: var(--color-background);
  height: 100vh;
  align-items: center;
}

.main-text {
  font-size: 30px;
  font-weight: bolder;
  color: var(--color-text);
  font-family: var(--font-family);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  transform: translate (0, 50%);
}

@media all and (min-width: 768px) {
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu {
    transform: translate(0, 50%);
    padding-right: 30px;
  }

  .main {
    width: 100vw;
  }

  .main-text {
    font-weight: 40px;
  }
}
